
extends layout

block append vars
  - bodyclass = 'article-detail'
  - var thePage = page

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html.replace(/\/articles\//g,'../')).typogrify()

block prepend footer
  div.nav
    a(href=env.helpers.makeRelative(relativeTo, '/')) « Back


