doctype
block vars
  - var bodyclass = null;
  - var relativeTo = page != null ? page.url : '/'
  - var articles = env.helpers.getArticles(contents)
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href=env.helpers.makeRelative(relativeTo, '/css/main.css'))
  body(class=bodyclass)
    header.header
      div.content-wrap

        block header
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description

    div#content
      div.content-wrap
        block content
          h2 PUT CONTENT HERE!
    footer
      div.content-wrap
        block footer
